<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1><u>Battle</u></h1>
  <h2>Enter player names below</h2>

  <form action="/names" method="post">
    <label for="player1_name">
      <h3>Player 1 Name</h3>
      <input type="text" name="player1_name">
    </label>
    <br>
    <label for="player2_name">
      <h3>Player 2 Name</h3>
      <input type="text" name="player2_name">
    </label>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>